h1 {
  text-align: center;
  font-size: 40px;
  /* margin-top: 20px; */
  margin-bottom: 0px;
  background-color: #05386B;

}

#my-container {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  flex-wrap: wrap;
  
}


.mine {
  flex: 1;
  text-align: center;  
}




hr {
  margin: 0;
}


#my-form {
  display: flex;  
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
}


#main-value {
  padding: 20px;
}


#main-text {
  font-size: 32px;
}

#main-value {
  padding: 5px;
  border: 3px solid  #05386B;
}


body {
  background-color: #5CDB95;
}

.card {
  background-color: #EDF5E1;
}

#tobe-flex{display: flex;
gap: 8px;
}

#main-button {
  background-color: #EDF5E1;
  border-radius: 10px;
  border: 2px solid black;

}