* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.card {
  width: 550px;
  height: 550px;
  background: rgba(31, 41, 55, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.last-box {
  width: 346px;
  height: 215px;
  background: url("../images/last-box.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 297px;
  left: 102px;
  overflow: hidden;
}
.length {
  width: 346px;
  height: 55px;
  background: url("../images/length.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.length-inner {
  width: 346px;
  color: rgba(210, 210, 210, 1);
  position: absolute;
  top: 30px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.length-inner-text {
  width: 346px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.volume {
  width: 346px;
  height: 55px;
  background: url("../images/volume.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 0px;
  overflow: hidden;
}
.volume-inner {
  width: 346px;
  color: rgba(210, 210, 210, 1);
  position: absolute;
  top: 30px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.volume-inner-text {
  width: 346px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.mass {
  width: 346px;
  height: 51px;
  background: url("../images/mass.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 0px;
  overflow: hidden;
}
.mass-inner {
  width: 346px;
  color: rgba(210, 210, 210, 1);
  position: absolute;
  top: 30px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.mass-inner-text {
  width: 346px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.top-box {
  width: 550px;
  height: 260px;
  background: url("../images/top-box.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.top-box-inner {
  width: 550px;
  height: 260px;
  background: linear-gradient(rgba(88, 92, 253, 1), rgba(250, 54, 150, 1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.number {
  width: 211px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 155px;
  left: 169px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 97px;
  opacity: 1;
  text-align: center;
}
.top-box-header {
  width: 448px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 53px;
  left: 51px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}